[Unit]
Description=FlexLM license server daemon
After=network-online.target

[Service]
Type=simple
User=flexlm
WorkingDirectory=/etc/flexlm
ExecStart=/usr/sbin/lmgrd -z -local -reuseaddr -2 -p -c /etc/flexlm
SuccessExitStatus=15
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target